.head{ 
margin
}

body {
  text-align: center;
  background-color:#FFA000
} 
h1{
color: white; 
font: weight 100px;
font-family: garamond;
}
p{color: white;}
h2{font-weight: lighter;
color: white }
h3{color: white;
font-weight: lighter; }