header {
  text-align: center;
  margin-left: 30px;
}
img {
  max-width: 200%;
  max-height: 200%;
}
body {
  background-color: #ffa000;
}
h1 {
  color: white;
  font: weight 100px;
  font-family: garamond;
  font-size: 48px;
}
p {
  color: white;
}
h2 {
  font-weight: lighter;
  color: white;
  font-size: 32px;
}
h3 {
  color: white;
  font-weight: lighter;
  font-size: 32px;
}
main {
  text-align: center;
  width: 900px;
  background-color: orangered;
  border: 50px solid white;
  padding: 300px;
  margin: 200px;
  margin-left: 160px;
  margin-top: 100px;
}
